<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div> <a class="navbar-brand" href="http://localhost:4200">Smart Home</a></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-link" href="/list-user"> Useri </a>
        </li>
        <li class="nav-item">
          <a class="navbar-link" href="/boards"> Panouri de comanda </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
            <a class="nav-link" href="/login">Logout</a>
        </li>
  </ul>
</nav>
<div class="container col-lg-8">
  <br>
  <h2 class="text-center">Editare Panou de comanda</h2>
  <form [formGroup]="editBoardForm" (ngSubmit)="onSubmit()">

    <div>
      <input type="text" formControlName="boardId" name="boardId" class="form-control" id="boardId" readonly="true">
    </div>

    <div class="form-group">
      <label for="boardName">Nume Panou:</label>
      <input type="text" formControlName="boardName" name="boardName" class="form-control" id="boardName">
    </div>

    <div class="form-group">
      <label for="boardserial">Serialul Panoului:</label>
      <input type="text" formControlName="boardSerial" placeholder="Serial" name="boardserial" class="form-control" id="boardserial" readonly="true">
    </div>
      
    <div class="form-group">
      <label for="boardStart">Ora de Pornire:</label>
      <input type="time" formControlName="boardStart" placeholder="Start_time" name="boardStart" class="form-control" id="boardStart">
    </div>

    <div class="form-group">
      <label for="boardStart">Date de Pornire:</label>
      <input type="date" formControlName="boardStartDate" placeholder="Start_date" name="boardStartDate" class="form-control" id="boardStartDate">
    </div>

    <div class="form-group">
      <label for="boardStart">Timpul de rulare:</label>
      <input type="text" formControlName="boardRunTime" placeholder="Numarul de minute" name="boardRunTime" class="form-control" id="boardRunTime">
    </div>
    <div class="form-group">
      <label for="boardAutoStart">Start automat:
      <input type="checkbox" formControlName="boardAutoStart" placeholder="AutoStart" name="boardAutoStart" class="form-control" id="boardAutoStart">
    </label>
    </div>

    <div class="form-group">
      <label for="boardContor">Contorul:</label>
      <select formControlName="boardContor" placeholder="Contor" name="boardContor" class="form-control" id="boardContor">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>

    <div class="form-group">
      <label>Oprit/Pornit: 
        <input type="checkbox" formControlName="boardOff" placeholder="On" name="boardOff" class="form-control" id="boardOff">
        </label>
      </div>

   <button class="btn btn-success">Actualizare</button>
  </form>
</div>